
json('../constants.json')
@import '../colors'

.header
  height: unit(headerHeight, px)
  background-color: blue500
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
  color: #fff
  width: calc(100% - 40px)
  display: flex
  align-items: center
  padding: 0 20px

  .header-app-name
    font-family: 'Roboto Mono'
    user-select: none
    font-size: 24px
    font-weight: 700

  .fa-calendar-check-o
    font-size: 22px
    margin-right: 10px

    

