
@import "../_constants"

.calendar-checkbox
  cursor: pointer
  position: relative
  padding: 5px 0
  white-space: nowrap
  user-select: none
  overflow: hidden

  span
    display: inline-block
    text-overflow: ellipsis

  *
    vertical-align: middle

  &:hover
    background-color: grey100

.checkbox
  position: relative
  width: 11px
  height: 11px
  background-color: transparent
  display: inline-block
  margin: 2px 5px
  border: 2px solid gray
  border-radius: 3px