
.sidebar-container
  display: flex
  flex-direction: column
  overflow-y: auto
  overflow-x: hidden

.sidebar-widget
  margin-bottom: 10px


input[type=number]
  display: inline-block
  width: 50px
  margin-right: 5px