
json('../components/constants.json')
@import '../components/colors'

#app, body
  padding: 0
  margin: 0
  width: 100%
  height: 100%

  &.grabbing
    cursor: -webkit-grabbing
    cursor:    -moz-grabbing
    cursor:         grabbing
    user-select: none

*
  margin: 0
  padding: 0

main
  width: 100%
  height: 100%
  font-family: 'Roboto', sans-serif
  font-size: 12px

  >content
    width: calc(100% - 40px)
    display: flex
    flex-direction: row
    height: "calc(100% - %s - 40px)" % unit(headerHeight, px)
    padding: 20px

    section
      height: 100%

    .sidebar-container
      flex-basis: unit(sidebarWidth, px)
      padding-right: 10px

    .calendar-container
      flex-grow: 1
      padding-left: 10px
      position: relative


// default button look-and-feel
button
  padding: 10px
  text-transform: uppercase
  background-color: blue500
  border: none
  border-radius: 3px
  color: white
  font-weight: 700
  margin: 5px
  cursor: pointer
  position: relative

button:after
  position: absolute
  content: ''
  top: 0
  bottom: 0
  left: 0
  right: 0
  border-radius: 3px
  transition: background-color 0.15s
  background-color: transparent

button:hover:after
  background-color: rgba(0, 0, 0, 0.1)

button:active:after
  background-color: rgba(0, 0, 0, 0.2)

button[disabled]
  display: none

button.error
  background-color: red500

button.success
  background-color: green600
