
// colors
grey100         = #f5f5f5
grey200         = #eeeeee
grey300         = #e0e0e0
grey400         = #bdbdbd
grey700         = #616161
blue500         = #2196f3
red500          = #f44336
red600          = #e53935
red800          = #c62828
green600        = #43a047

bg-primary      = blue500
fg-primary      = #fff
fg-primary-blur = rgba(255, 255, 255, 0.7)