
.calendar-header
  height: 50px

  >div
    display: inline-block
    
  .movement-buttons
    float: right

  .view-type-list
    float: right
    margin-left: 20px
    display: inline-block

    button.active:after
      background-color: rgba(0, 0, 0, 0.1)