
json('../constants.json')

.calendar-event
  position: absolute
  background-color: orange
  border: 1px solid rgba(0, 0, 0, 0.2)
  max-width: percentage(maxEventWidth)
  z-index: 5
  overflow: hidden
  user-select: none
  cursor: default

  &.past
    opacity: 0.5

  &:hover, &:active
    .resize-handle
      background-color: black

    .synced.fa-check:not([hidden])
      display: inline

  .resize-handle
    cursor: ns-resize
    position: absolute
    right: 0
    left: 0
    bottom: 0
    height: 3px

  .location
    font-size: 10px

  .synced
    position: absolute
    font-size: 8px
    right: 3px
    top: 3px

    &[hidden], &.fa-check
      display: none
