
@import "../_constants"

.calendar-event
  position: absolute
  background-color: orange
  border: 1px solid rgba(0, 0, 0, 0.2)
  max-width: 90%
  z-index: 5
  overflow-y: hidden
  user-select: none
  cursor: default

  &.past
    opacity: 0.5

  &:hover .resize-handle
    background-color: black

  .resize-handle
    cursor: ns-resize
    position: absolute
    right: 0
    left: 0
    bottom: 0
    height: 3px

