
@import "../_constants"

.calendar-event
  position: absolute
  background-color: orange
  border: 1px solid rgba(0, 0, 0, 0.2)
  max-width: 90%
  z-index: 5
  overflow-y: hidden


  &.past
    opacity: 0.5
