
json('../constants.json')
@import '../colors'

.event-modal
  font-size: 14px

  input, textarea
    border: none
    outline: none
    resize: none

  input
    background-color: transparent
    border-bottom: 2px solid rgba(0, 0, 0, 0.2)

  textarea
    border: 1px solid grey300
    border-radius: 3px
    padding: 5px

  .event-title
    margin-bottom: 10px
    font-size: 16px

  .event-detail
    margin-bottom: 10px
    display: table
    width: 100%

    label
      font-weight: 700
      display: table-cell
      vertical-align: middle
      width: 100px

    input, textarea
      display: table-cell
      width: 100%

  .Select-menu-outer
    overflow: hidden

  .twitter-picker
    input
      height: 30px !important

