
@import "../_constants"

.calendar-hour-column
  width: 40px
  flex-basis: hour-column-width
  flex-grow: 0
  flex-shrink: 0

.calendar-hour-cell
  height: hour-cell-height - 1
  border: 1px solid lightgray
  border-left: none
  border-top: none
  text-align: right
  