
.time-finder-modal
  button
    color: #000

  input, textarea
    background-color: transparent
    border: none
    border-bottom: 2px solid rgba(0, 0, 0, 0.2)
    outline: none
    resize: none

  .tf-detail
    font-size: 14px
    margin-bottom: 10px
    display: table
    width: 100%

    label
      font-weight: 700
      display: table-cell
      vertical-align: middle
      width: 60px

    input, textarea
      display: table-cell
      font-size: 14px
      width: 100%

    .time-input
      width: 20px
      text-align: center