
json('../constants.json')
@import '../colors'

.calendar-weekview, .calendar-dayview
  height: calc(100% - 50px)
  position: relative
  display: flex
  flex-direction: column

  header
    display: flex
    flex-direction: row
    margin-left: unit(hourColumnWidth, px)

  .calendar-body
    flex-basis: 100%
    display: flex
    border-left: 1px solid grey300
    overflow-y: scroll
    border: 1px solid grey300