
@import "../_constants"

.calendar-weekview
  height: calc(100% - 50px)
  position: relative
  display: flex
  flex-direction: column

  header
    display: flex
    flex-direction: row
    margin-left: hour-column-width

  .calendar-body
    flex-basis: 100%
    display: flex
    border-left: 1px solid grey300
    overflow-y: scroll
    border: 1px solid grey300